body {
    background-color: #020202;
}
#footer {
    background: #00000000;
}
#page-header {background-color:#0000}

::-webkit-scrollbar-track {
background-color: #020202;

}
::-webkit-scrollbar-thumb {
background-color: #ffffff;

}